.table-wrapper {
    width: 600px;
}
.table-wrapper tr {
    padding: 10px 0;
}
.table-wrapper tr:nth-child(odd) {
    background-color: rgb(59, 169, 233);
    color: white;
}
.table-wrapper tr td button {
    background-color: rgb(22, 9, 211);
    color: white;
    border: none;
    cursor: pointer;
}